body {
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.5px;
}

header {
  padding: 0 1rem;
}

h1 {
  color: white;
  background-image: url(/apple-pie/images/apple-pie.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
  padding: 7rem 3rem;
  font-size: 70px;
}

section {
  margin: 0 auto;
  padding: 0 8rem;
}

p {
  font-size: 22px;
}

.image-container {
  width: 100%;
}

.info,
.preparation {
  display: block;
  width: 45%;
  max-width: 350px;
  margin: 0 auto;
}

.infoText ul {
  list-style-type: none;
  line-height: 25px;
}

.infoText ol {
  list-style: none;
  counter-reset: list;
  line-height: 25px;
}

ul li::before {
  list-style-type: none;
  content: "-";
}

ol li::before {
  counter-increment: list;
  content: counter(list) ")";
}
